{% extends 'base' %}

{% block body %}
    <h2>Ajouter un lieu</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button>Valider</button>
        <a class="bouton" href="{{ path('sortie_creer') }}">Retour</a>
    {{ form_end(form) }}
{% endblock %}

{% block title %}

    Ajouter un lieu

{% endblock %}