<h1>Bonjour!</h1>

<p>Vous avez demandez de changer de mot de passe. Pour le réinitialisez, veuillez cliquer sur ce lien</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans  {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Cordialement!</p>
