{% extends 'base' %}

{% block body %}
    <table>
        <tr>
            <th>Campus</th>
        </tr>
        {% for campus in campusListe %}
            <tr>
                <td>{{ campus.nom }}</td>
            </tr>
        {% else %}
            <td scope="row" colspan="2">L'école n'est raccordée à aucun campus</td>
        {% endfor %}

    </table>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Créer</button>
    {{ form_end(form) }}
{% endblock %}

