@charset "UTF-8";


/* nav ul { */
/*   display: flex; */
/*   justify-content: space-between; */
/* } */
header li {
	list-style: none;
	display: inline-block;
	padding: 0 30px;
	font-size: 1.2em;
	gap: 10px;
}

header img {
	width: 25px;
	margin: 0 10px;
}

h2 {
	margin: 10px 0;}

* {
	margin: 2px;
	padding: 1px;
	font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: antiquewhite;
	padding: 20px 50px;
	box-shadow: 0 1px 8px #ddd;
}

#nav {
	flex-direction: row-reverse;
	margin-right: auto;
	font-size: 1.1em;
}

header li {
	list-style: none;
	display: inline-block;
	padding: 0 20px;
}

header a {
	text-decoration: none;
	color: #191818;
	transition: all 0.3s ease 0s;

}

header a:hover {
	color: rgb(2, 105, 156);
}

main {
	margin-top: 15px;
	margin-left: 15px;
}

main h1 {
	display: flex;
	margin: 10px;
	justify-content: space-around;
}

main div.infos{
	display: flex;
	flex-direction: row-reverse;
}

/* affichage des tableaux dans le main */


main table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 90%;
}

main table td, main table th {
	border: 1px solid #ddd;
	padding: 8px;
}

main table tr:nth-child(even) {
	background-color: #f2f2f2;
}

main table tr:hover {
	background-color: #ddd;
}

main table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #000000;
	color: white;
}

main table a:link, main table a:visited {
	background-color: #008080;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

main table a:hover, main table a:active {
	background-color: #004040;
}

.form {
	border-color:black;
	border-radius:10px;
	margin:15px;
	padding: 15px;
	background-color: #fafaf2;

}

.center-main {
	display: flex;
	width: 100%;
	height: 400px;
	margin: auto;
}

.center-section {
	margin: auto;
	text-align: center;
}

#appel	{
	background-color: #6ecc6e;
}

/* 	FORMS */

.form-error{
	color:red;
}

.form-label{
	color: #191818;
	margin:10px 0px;
	padding:7px 0px;
	font-size: large;
}

button {
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 5px; padding : 8px 16px;
	border: 0.3px solid;
	background-color: #072e5f;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: .09em;
}

button a {
	text-decoration: none;
	color: #fffbfb;
	transition: all 0.3s ease 0s;
}


.formulaire {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 5px;
	border: 0.5px solid;
	border-color: #b3adac;
}


/* 
Module 04 - TP 6
I18N*/
#nav-title div>a>img {width: 25px;}

/* FOOTER */

footer {
	margin-top: 20px;
	display: flex;
	align-items: center;
	background-color: #c9b7a0;
	padding: 10px 10px;

}
