@charset "UTF-8";

h1 {
	display: flex;
  flex-flow: nowrap;
}

h2 {
	margin: 10px 0;}

* {
	margin: 2px;
	padding: 1px;
	font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #134a80;
	color:#edeaea;
	padding: 20px 50px;
	box-shadow: 0 1px 8px #a8b0d1;
}

header li {
	list-style: none;
	display: inline-block;
	padding: 0 10px;
	font-size: 1.3em;
}

header img {
		width: 50px;
}

header img.profil {
	width: 35px;
	height: 35px;
	object-fit: cover;
	margin-top: 20px;
	border-radius: 50% 50% 50% 50%;
	border: 2px solid #1c3691;
	transition: all 0.3s ease 0s;

}

header img.profil:hover {
	border: 2px solid rgb(232, 208, 72);

}

header a {
	text-decoration: none;
	color: #f6f5f5;
	transition: all 0.3s ease 0s;

}

header a:hover {
	color: rgb(232, 208, 72);
	font-size:105%;
}


/* NAV */

label {
	font-weight: bold;
}

#nav {
	flex-direction: row-reverse;
	margin-right: auto;
	font-size: 1.1em;
}

main {
	margin-top: 15px;
	margin-left: 15px;
}

main h1 {
	display: flex;
	margin: 10px;
	justify-content: space-around;
}

main div.infos{
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-end;
}

/* affichage des tableaux dans le main */


main table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border-radius:50%;
	width: auto;
	text-align: center;

}

main table td, main table th {
	border-radius:5%;
	border: 1px solid #ddd;
	padding: 8px;
}

main table tr:nth-child(even) {
	background-color: #f2f6ff;
}

main table tr:hover {
	background-color: #fdfafa;
}

main table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #010c1e;
	color: white;
}

 main table a:link, main table a:visited {
	position: relative;
	width: 100px;
	background-color: #010c1e;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

main table a:hover, main table a:active {
background-color: #1a7171;
}

/* Formulaire de connexion */

div#connexion {
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#connexion label {
	margin: 10px;
	font-weight: bold;
}


/* Les détails et formulaires */

textarea {
	margin: 5px -5px;
	display: block;
	height: 80px;
	width: 350px;
}

div.details {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	flex-direction: row;
	align-items: center;
	width: 75%;

}

/* Affichage des infos */

div.annulation {
	border-radius: 15px;
	background-color: #edeaea;
	color: #6f6767;
}

div.annulation div.lieu, div.annulation div.organisation {
	border-radius: 15px;
	background-color: #edeaea;
}

div.organisation, div.lieu {
	border-radius: 15px;
	background: #ffe4c470;

}


.center-main {
	display: flex;
	width: 100%;
	height: 400px;
	margin: auto;
}

.center-section {
	margin: auto;
	text-align: center;
}

#appel	{
	background-color: #6ecc6e;
}

/* 	FORMS */

.form {
	border-color:black;
	border-radius:10px;
	margin:15px;
	padding: 15px;
	background-color: #fafaf2;

}

.form-error{
	color:red;
}

.form-label{
	color: #191818;
	margin:10px 0px;
	padding:7px 0px;
	font-size: large;
}

.formulaire {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 5px;
	border: 0.5px solid;
	border-color: #b3adac;
}


button {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 5px; padding : 8px 16px;
	border: 0.3px solid;
	background-color: #072e5f;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: .09em;
}

button a {
	text-decoration: none;
	color: #fffbfb;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: #1a7171;
	cursor: pointer;
}

a.bouton {
	text-decoration: none;
	padding : 8px 16px;
	color: #122d6e;
	text-transform: uppercase;
}

a.bouton:hover {
	color: #1a7171;
	cursor: pointer;
}


/* 
Module 04 - TP 6
I18N*/
#nav-title div>a>img {width: 25px;}

/* FOOTER */

footer {
	margin-top: 20px;
	display: flex;
	align-items: center;
	background-color: #c9b7a0;
	padding: 10px 10px;

}

/* Ajouts d'un CSS particulier pour les tablettes */

@media screen and (min-width: 481px) and (max-width: 768px) {

	* {
		font-size: 1em;
	}

	h2 {
		font-size: medium;
	}

	header {
		padding: 5px 5px;
		font-size: small;
}
	div.logoslogan{
			display: none;
	}

	main table#tableaudesorties {
		border-collapse: collapse;
		font-size: small;
	}

	.campus, .profil {
		display:none;
	}

	main table#tableaudesorties a:link, main table#tableaudesorties a:visited
{
	padding: 3px 5px;
	text-align: center;
		width: initial;
}

	main table#tableaudesorties td, main table#tableaudesorties th {
		padding: 3px;
	}

	button {
		margin: auto;
		margin-top: 2px;
		margin-bottom: 3px;
		padding: 3px 3px;
	}



}

/* Ajouts d'un CSS particulier pour les mobiles */

@media screen and (max-width: 480px) {

	* {
		font-size: 1em;
	}

	div.logoslogan {
		display: none;
	}

	h2 {
		font-size: small;
	}

	main div.infos {
		font-size: 0.8em;
	}

	.formulaire {
		font-size: 0.7em;
	}

	* {
		font-size: 1em;
	}

	header {
		padding: 5px 5px;
		font-size: small;
	}

	.campus, .profil {
		display:none;
	}

	main table#tableaudesorties {
		font-size: 0.5em;
		border-collapse: collapse;
	}

	main table#tableaudesorties a:link, main table#tableaudesorties a:visited {
		padding: 3px 5px;
		text-align: center;
		width: initial;
	}

	main table#tableaudesorties td, main table#tableaudesorties th {
		padding: 3px;
	}

	main table {
		border-collapse: collapse;
		font-size: small;
	}

	main table a:link, main table a:visited {
		padding: 2px 2px;
		text-align: center;
		width: initial;
	}

	div.organisation, div.lieu {
		font-size: small;
	}

	button {
		margin: auto;
		margin-top: 2px;
		margin-bottom: 3px;
		padding: 3px 3px;
	}

	.afficheOrdi {
		display: none;
	}

}
