<nav>
    <ul>
        {% if app.user %}
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="">Ville</a></li>
                <li><a href="">Campus</a></li>
            {% endif %}
        {% endif %}
        <li><a href="{{ path ('accueil') }}">Accueil</a></li>
        {% if app.user %}
            <li><a href="">Mon Profil</a></li>
            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
        {% else %}
            <li><a href="{{ path('connex') }}">Se connecter</a></li>
            <li><a href="">S'enregistrer</a></li>
        {% endif %}
    </ul>
</nav>