<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Liste des sorties!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/favicon.png') }}">
        <link rel="stylesheet" href="{{ asset('styles/pour-presentation.css') }}">
    </head>

    <body>
    <div class="container">
        {%  include 'views/menu/nav.html.twig' %}
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <p>"©BDE ENI"   - {{ "now" | date("Y") }}</p>
        </footer>
    </div>
    </body>
</html>
